<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scientificresearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <application
        android:name=".SettingsApp.App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/iconc_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconc_app"
        android:supportsRtl="true"
        android:noHistory="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Notify.NotificationReceiver" />
        <activity android:name=".Ui.login.LoginActivity"></activity>
        <activity android:name=".Ui.main.MainActivity"></activity>
        <activity android:name=".Ui.add.AddRoomActivity"></activity>
        <activity android:name=".Ui.room.RoomActivity"></activity>
        <service android:name=".SettingsApp.MyService"/>
    </application>

</manifest>